.MainBox {
  position: relative;
  width: 70%;
  margin-left: 15%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.MainBox:active,
.MainBox:hover,
.MainBox:focus {
  outline: none;
  border: none;
}

.card {
  width: 100%;
  height: 450px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.card .cardimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .cardimage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card:hover img {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .cardimage {
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.DetailBoard {
  position: absolute;
  top: 45%;
  left: 28%;
  color: lightgray;
  z-index: 3;
  display: flex;
  opacity: 0.8;
}

.DetailBoard button {
  position: relative;
  display: block;
  width: 120px;
  height: 50px;
  border-radius: 15px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
  margin: 0 6px;
  opacity: 0;
}

.card:hover .DetailBoard button {
  opacity: 1;
}

.DetailBoard button:hover {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
